


<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('partials/_head') %>  
    </head>
    
<body class="kopa-home-1">


    <!-- kopa-page-header -->
    <!--HEADER-->
    <%- include('partials/_header') %> 
    <div id="main-content">

        <div class="kopa-rt">

            <div class="home-slider-box">

                <div id="carousel" class="kopa-home-slider-1 kopa-home-slider-carousel">
                    
                    <div class="carousel-item">
                        <img src="http://placehold.it/1349x860" data-thumb="http://placehold.it/90x90" alt="">
                        <div class="mask"></div>
                        <div class="slide-caption">
                            <a class="author-name" href="#">Stirling Myles</a>
                            <h2 class="entry-title"><a href="#"><%= user %></a></h2>
                        </div>                    
                    </div>

                    <div class="carousel-item">
                        <img src="http://placehold.it/1349x860" data-thumb="http://placehold.it/90x90" alt="">
                        <div class="mask"></div>
                        <div class="slide-caption">
                            <a class="author-name" href="#">Stirling Myles</a>
                            <h2 class="entry-title"><a href="#">Suge Knight Arrested For Murder</a></h2>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="http://placehold.it/1349x860" data-thumb="http://placehold.it/90x90" alt="">
                        <div class="mask"></div>
                        <div class="slide-caption">
                            <a class="author-name" href="#">Stirling Myles</a>
                            <h2 class="entry-title"><a href="#">Suge Knight Arrested For Murder</a></h2>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="http://placehold.it/1349x860" data-thumb="http://placehold.it/90x90" alt="">
                        <div class="mask"></div>
                        <div class="slide-caption">
                            <a class="author-name" href="#">Stirling Myles</a>
                            <h2 class="entry-title"><a href="#">Suge Knight Arrested For Murder</a></h2>
                        </div>
                    </div>

                </div>
                <!-- kopa-home-slider-1 -->

                <div class="loading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>

                <a href="#" title="" id="prev"></a>
                <a href="#" title="" id="next"></a>

                <div id="navi" class="clearfix">
                    <p id="pagenumber">Now showing image <span></span> of 5.</p>
                    <p id="title"></p>
                    <p id="pager"><span></span></p>
                </div>
                <!-- navi -->
                
            </div>
            <!-- home-slider-box -->

            <div class="kopa-ab">

                <div class="widget kopa-featured-audio-widget">

                    <div class="outer">

                        <div class="col-left">
                            <div class="album-thumb">
                                <a href="#"><img src="http://placehold.it/90x90" alt=""></a>
                            </div>
                            <div class="album-content">
                                <h6><a href="#">DJ KoZaK - Promo Mix soundwave 125</a></h6>
                                <p><a href="#">Heavy artillery Vid</a></p>
                            </div>
                        </div>

                        <div class="col-right">
                            <div class="audio-wrap">
                                <div class="kopa-jp-jplayer"></div>
                                <div class="jp-audio kopa-jp-wrap" role="application" aria-label="media player">
                                    <div class="jp-type-playlist">
                                        <div class="jp-gui jp-interface">
                                            <div class="col-left">
                                                <div class="jp-controls">
                                                    <button class="jp-previous" role="button" tabindex="0"></button>
                                                    <button class="jp-play" role="button" tabindex="0"></button>
                                                    <button class="jp-next" role="button" tabindex="0"></button>
                                                    <span class="fa fa-bar-chart"></span>
                                                </div>
                                            </div>
                                            <div class="col-right">
                                                <div class="jp-progress">
                                                    <div class="jp-seek-bar">
                                                        <div class="jp-play-bar"></div>
                                                    </div>
                                                </div>
                                                <div class="jp-volume-controls">
                                                    <span class="fa fa-volume-down"></span>
                                                    <div class="jp-volume-bar">
                                                        <div class="jp-volume-bar-value"></div>
                                                    </div>
                                                </div>
                                                <div class="jp-time-holder">
                                                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-playlist">
                                            <ul style="display: none !important">
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>
                                        <div class="jp-no-solution">
                                            <span>Update Required</span>
                                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <!-- kopa-featured-audio-widget -->    

            </div>
            <!-- kopa-ab -->

        </div>

        <section class="kopa-area kopa-area-1 kopa-area-dark">

            <div class="span-bg"></div>

            <div class="wrapper">

                <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="widget kopa-event-widget">
                            <h3 class="widget-title style1">events</h3>
                            <ul class="clearfix">
                                <li>
                                    <div class="col-1">
                                        <p>02/Apr</p>
                                    </div>
                                    <div class="col-2">
                                        <p><a href="#">Columbia, SC</a></p>
                                    </div>
                                    <div class="col-3">
                                        <p><a href="#">Field Notes: An interview with Romain L...</a></p>
                                    </div>
                                    <div class="col-4">
                                        <p><a href="#">buy now</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-1">
                                        <p>06/Apr</p>
                                    </div>
                                    <div class="col-2">
                                        <p><a href="#">New Orleans, LA</a></p>
                                    </div>
                                    <div class="col-3">
                                        <p><a href="#">Original Music / Your Year With Nike+</a></p>
                                    </div>
                                    <div class="col-4">
                                        <p><a href="#">CANCELLED</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-1">
                                        <p>14/Apr</p>
                                    </div>
                                    <div class="col-2">
                                        <p><a href="#">Memphis, TN</a></p>
                                    </div>
                                    <div class="col-3">
                                        <p><a href="#">Fractured Bones & Reputations</a></p>
                                    </div>
                                    <div class="col-4">
                                        <p><a href="#">COMING SOON</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-1">
                                        <p>18/Apr</p>
                                    </div>
                                    <div class="col-2">
                                        <p><a href="#">Oakland, CA</a></p>
                                    </div>
                                    <div class="col-3">
                                        <p><a href="#">The Otherside of Sadness</a></p>
                                    </div>
                                    <div class="col-4">
                                        <p><a href="#">ON SALE 05/01/2017</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-1">
                                        <p>21/Apr</p>
                                    </div>
                                    <div class="col-2">
                                        <p><a href="#">North Little Rock, AR</a></p>
                                    </div>
                                    <div class="col-3">
                                        <p><a href="#">Picking up the Pieces (Acoustic Version)</a></p>
                                    </div>
                                    <div class="col-4">
                                        <p><a href="#">buy now</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-1">
                                        <p>25/Apr</p>
                                    </div>
                                    <div class="col-2">
                                        <p><a href="#">New Orleans, LA</a></p>
                                    </div>
                                    <div class="col-3">
                                        <p><a href="#">Introducing: Holiday Mixtape Vol. 1</a></p>
                                    </div>
                                    <div class="col-4">
                                        <p><a href="#">COMING SOON</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-1">
                                        <p>27/Apr</p>
                                    </div>
                                    <div class="col-2">
                                        <p><a href="#">Memphis, TN</a></p>
                                    </div>
                                    <div class="col-3">
                                        <p><a href="#">Marmoset's Top 20 Albums of 2014</a></p>
                                    </div>
                                    <div class="col-4">
                                        <p><a href="#">sold out</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- widget --> 
                
                    </div>
                    <!-- col-md-12 -->
                
                </div>
                <!-- row --> 
                
            </div>
            <!-- wrapper -->
            
        </section>
        <!-- kopa-area-1 -->

        <div class="widget kopa-album-1-widget">
            <header class="kopa-area-dark">
                <div class="wrapper">
                    <h3 class="widget-title style1">top audio</h3>
                    <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor imperdiet turpis <br>Mauris ut tristique odio. </p>
                </div>
                <!-- wrapper -->
                <div class="album-icon">
                    <div class="icon-inner-1">
                        <span class="icon-inner-2"></span>
                    </div>
                    <span class="fa fa-music"></span>
                </div>
            </header>
            <div class="widget-content">

                <div class="wrapper">
                
                    <ul class="row kopa-album-list">
                        <li class="col-md-4 col-sm-4 col-xs-12">
                            <article class="entry-item">
                                <div class="entry-wrap">
                                    <div class="entry-top">
                                        <div class="entry-thumb">
                                            <span class="sd"></span>
                                            <img src="placeholders/post1/thumb--icon.png" alt="">
                                            <a href="#"><img src="http://placehold.it/190x190" alt=""></a>
                                            <h4 class="entry-title"><a href="#">Party cloudy</a></h4>
                                        </div>
                                    </div>
                                    <div class="entry-bottom">
                                        <div class="audio-wrap">
                                            <div class="kopa-jp-jplayer1"></div>
                                            <div class="jp-audio kopa-jp-wrap1" role="application" aria-label="media player">
                                                <div class="jp-type-playlist">
                                                    <div class="jp-gui jp-interface">
                                                        <div class="jp-top">
                                                            <div class="jp-controls">
                                                                <button class="jp-previous" role="button" tabindex="0"></button>
                                                                <button class="jp-play" role="button" tabindex="0"></button>
                                                                <button class="jp-next" role="button" tabindex="0"></button>
                                                            </div>
                                                        </div>
                                                        <div class="jp-bottom">
                                                            <div class="jp-progress">
                                                                <div class="jp-seek-bar">
                                                                    <div class="jp-play-bar"></div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-volume-controls">
                                                                <span class="fa fa-volume-down"></span>
                                                                <div class="jp-volume-bar">
                                                                    <div class="jp-volume-bar-value"></div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-time-holder">
                                                                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-playlist">
                                                        <ul style="display: none !important">
                                                            <li>&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                    <div class="jp-no-solution">
                                                        <span>Update Required</span>
                                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title"><a href="#">Party cloudy</a></h4>
                                    <p class="entry-cat">By <a href="#">Marie Incontrera</a></p>
                                    <footer>
                                        <ul class="clearfix">
                                            <li>
                                                <span>2014</span>
                                            </li>   
                                            <li>
                                                <span>19 songs</span>
                                            </li>    
                                            <li>
                                                <div class="kopa-rating">
                                                    <ul>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li class="inactive"><span class="fa fa-star"></span></li>
                                                    </ul>
                                                </div>
                                            </li>  
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <!-- col-md-4 -->
                        <li class="col-md-4 col-sm-4 col-xs-12">
                            <article class="entry-item">
                                <div class="entry-wrap">
                                    <div class="entry-top">
                                        <div class="entry-thumb">
                                            <span class="sd"></span>
                                            <img src="placeholders/post1/thumb--icon.png" alt="">
                                            <a href="#"><img src="http://placehold.it/190x190" alt=""></a>
                                            <h4 class="entry-title"><a href="#">Party cloudy</a></h4>
                                        </div>
                                    </div>
                                    <div class="entry-bottom">
                                        <div class="audio-wrap">
                                            <div class="kopa-jp-jplayer2"></div>
                                            <div class="jp-audio kopa-jp-wrap2" role="application" aria-label="media player">
                                                <div class="jp-type-playlist">
                                                    <div class="jp-gui jp-interface">
                                                        <div class="jp-top">
                                                            <div class="jp-controls">
                                                                <button class="jp-previous" role="button" tabindex="0"></button>
                                                                <button class="jp-play" role="button" tabindex="0"></button>
                                                                <button class="jp-next" role="button" tabindex="0"></button>
                                                            </div>
                                                        </div>
                                                        <div class="jp-bottom">
                                                            <div class="jp-progress">
                                                                <div class="jp-seek-bar">
                                                                    <div class="jp-play-bar"></div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-volume-controls">
                                                                <span class="fa fa-volume-down"></span>
                                                                <div class="jp-volume-bar">
                                                                    <div class="jp-volume-bar-value"></div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-time-holder">
                                                                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-playlist">
                                                        <ul style="display: none !important">
                                                            <li>&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                    <div class="jp-no-solution">
                                                        <span>Update Required</span>
                                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title"><a href="#">Party cloudy</a></h4>
                                    <p class="entry-cat">By <a href="#">Marie Incontrera</a></p>
                                    <footer>
                                        <ul class="clearfix">
                                            <li>
                                                <span>2014</span>
                                            </li>   
                                            <li>
                                                <span>19 songs</span>
                                            </li>    
                                            <li>
                                                <div class="kopa-rating">
                                                    <ul>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li class="inactive"><span class="fa fa-star"></span></li>
                                                    </ul>
                                                </div>
                                            </li>  
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <!-- col-md-4 -->
                        <li class="col-md-4 col-sm-4 col-xs-12">
                            <article class="entry-item">
                                <div class="entry-wrap">
                                    <div class="entry-top">
                                        <div class="entry-thumb">
                                            <span class="sd"></span>
                                            <img src="placeholders/post1/thumb--icon.png" alt="">
                                            <a href="#"><img src="http://placehold.it/190x190" alt=""></a>
                                            <h4 class="entry-title"><a href="#">Party cloudy</a></h4>
                                        </div>
                                    </div>
                                    <div class="entry-bottom">
                                        <div class="audio-wrap">
                                            <div class="kopa-jp-jplayer3"></div>
                                            <div class="jp-audio kopa-jp-wrap3" role="application" aria-label="media player">
                                                <div class="jp-type-playlist">
                                                    <div class="jp-gui jp-interface">
                                                        <div class="jp-top">
                                                            <div class="jp-controls">
                                                                <button class="jp-previous" role="button" tabindex="0"></button>
                                                                <button class="jp-play" role="button" tabindex="0"></button>
                                                                <button class="jp-next" role="button" tabindex="0"></button>
                                                            </div>
                                                        </div>
                                                        <div class="jp-bottom">
                                                            <div class="jp-progress">
                                                                <div class="jp-seek-bar">
                                                                    <div class="jp-play-bar"></div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-volume-controls">
                                                                <span class="fa fa-volume-down"></span>
                                                                <div class="jp-volume-bar">
                                                                    <div class="jp-volume-bar-value"></div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-time-holder">
                                                                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-playlist">
                                                        <ul style="display: none !important">
                                                            <li>&nbsp;</li>
                                                        </ul>
                                                    </div>
                                                    <div class="jp-no-solution">
                                                        <span>Update Required</span>
                                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title"><a href="#">Party cloudy</a></h4>
                                    <p class="entry-cat">By <a href="#">Marie Incontrera</a></p>
                                    <footer>
                                        <ul class="clearfix">
                                            <li>
                                                <span>2014</span>
                                            </li>   
                                            <li>
                                                <span>19 songs</span>
                                            </li>    
                                            <li>
                                                <div class="kopa-rating">
                                                    <ul>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li><span class="fa fa-star"></span></li>
                                                        <li class="inactive"><span class="fa fa-star"></span></li>
                                                    </ul>
                                                </div>
                                            </li>  
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                        </li>
                        <!-- col-md-4 -->
                    </ul>

                </div>
                <!-- wrapper-1 -->

            </div>
        </div>
        <!-- widget -->

        <section class="kopa-area kopa-area-2 kopa-parallax kopa-area-dark">

            <div class="span-bg"></div>

            <div class="wrapper">

                <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="widget kopa-sync-carousel-widget">

                            <div class="owl-carousel sync1">
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/450x450" alt=""></a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">our BAND</a></h4>
                                            <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla <br>risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum.</p> 
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/450x450" alt=""></a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">our BAND</a></h4>
                                            <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla <br>risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum.</p> 
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/450x450" alt=""></a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">our BAND</a></h4>
                                            <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla <br>risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum.</p> 
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/450x450" alt=""></a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">our BAND</a></h4>
                                            <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla <br>risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum.</p> 
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/450x450" alt=""></a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">our BAND</a></h4>
                                            <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla <br>risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum.</p> 
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/450x450" alt=""></a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">our BAND</a></h4>
                                            <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla <br>risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum.</p> 
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/450x450" alt=""></a>
                                        </div>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">our BAND</a></h4>
                                            <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla <br>risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum.</p> 
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                            </div>
                            <!-- sync1 -->

                            <div class="row"> 
                            
                                <div class="owl-carousel sync2">
                                    <div class="item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/150x150" alt=""></a>
                                                <div class="thumb-hover">
                                                    <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/150x150" alt=""></a>
                                                <div class="thumb-hover">
                                                    <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/150x150" alt=""></a>
                                                <div class="thumb-hover">
                                                    <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/150x150" alt=""></a>
                                                <div class="thumb-hover">
                                                    <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/150x150" alt=""></a>
                                                <div class="thumb-hover">
                                                    <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/150x150" alt=""></a>
                                                <div class="thumb-hover">
                                                    <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/150x150" alt=""></a>
                                                <div class="thumb-hover">
                                                    <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- item -->
                                </div>
                                <!-- sync2 -->
                            
                            </div>
                            <!-- row --> 

                        </div>
                        <!-- widget -->
                
                    </div>
                    <!-- col-md-12 -->
                
                </div>
                <!-- row --> 
            
            </div>
            <!-- wrapper -->
            
        </section>
        <!-- kopa-area-2 -->

        <section class="kopa-area kopa-area-3 kopa-parallax">

            <div class="span-bg"></div>

            <div class="wrapper">

                <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="widget kopa-audio-list-widget">
                            <header>
                                <h3 class="widget-title style1">my music</h3>
                                <div class="kopa-social-links style1">
                                    <ul class="clearfix">
                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-google-plus"></a></li>
                                    </ul>
                                </div>
                            </header>
                            <div class="clearfix">
                                <div class="widget-thumb">
                                    <div class="entry-thumb">
                                        <a href="#"><img src="http://placehold.it/200x200" alt=""></a>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <header>
                                        <h3><a href="#">Andreas Weise</a></h3>
                                        <p><a href="#">Leona</a>&nbsp;-&nbsp;<a href="#">pop</a></p>
                                    </header>
                                    <ul class="row audio-list">
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Zuper - Glide</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Zuper - Glide</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Lana Del Rey - Ride (Barretso Remix)</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Lana Del Rey - Ride (Barretso Remix)</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Four Tet - Lion (Jamie xx Remix)</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Four Tet - Lion (Jamie xx Remix)</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Jamie xx & Yasmin - Touch Me</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Jamie xx & Yasmin - Touch Me</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Disclosure - Tenderly</a></li>
                                        <li class="col-md-6 col-sm-6 col-xs-12"><a href="#">Disclosure - Tenderly</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- widget --> 
                
                    </div>
                    <!-- col-md-12 -->
                
                </div>
                <!-- row --> 

                <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="widget kopa-album-carousel-widget">
                            <div class="owl-carousel owl-carousel-1">
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                                <div class="item">
                                    <article class="entry-item">
                                        <div class="entry-thumb">
                                            <span></span>
                                            <a href="#"><img src="http://placehold.it/175x175" alt=""></a>
                                        </div>
                                    </article>
                                </div>
                                <!-- item -->
                            </div>
                            <!-- owl-carousel-1 -->
                        </div>
                        <!-- widget --> 
                
                    </div>
                    <!-- col-md-12 -->
                
                </div>
                <!-- row --> 
            
            </div>
            <!-- wrapper -->
            
        </section>
        <!-- kopa-area-3 -->

        <section class="kopa-area kopa-area-4 kopa-parallax kopa-area-dark">

            <div class="span-bg"></div>

            <div class="wrapper">

                <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="widget kopa-article-list-widget article-list-1">
                            <h3 class="widget-title style1">news</h3>

                            <div class="row">
                            
                                <div class="owl-carousel owl-carousel-2">
                                    <div class="item">
                                        <article class="entry-item">
                                            <header>
                                                <p class="entry-date">5 January, 2015</p>
                                                <h4 class="entry-title"><a href="#">Suge Knight Arrested For Murder</a></h4>
                                            </header>
                                            <div class="entry-content">
                                                <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. </p> 
                                                <div class="entry-thumb">
                                                    <a href="#"><img src="http://placehold.it/274x188" alt=""></a>
                                                    <div class="thumb-hover">
                                                        <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <article class="entry-item">
                                            <header>
                                                <p class="entry-date">5 January, 2015</p>
                                                <h4 class="entry-title"><a href="#">Sunrise Festival organized Croatia 2012</a></h4>
                                            </header>
                                            <div class="entry-content">
                                                <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis.Mauris ut tristique odio. </p> 
                                                <div class="entry-thumb">
                                                    <a href="#"><img src="http://placehold.it/274x188" alt=""></a>
                                                    <div class="thumb-hover">
                                                        <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <article class="entry-item">
                                            <header>
                                                <p class="entry-date">5 January, 2015</p>
                                                <h4 class="entry-title"><a href="#">Exhume Your Idols: Sleater-Kinney and the Mythos of Women in Rock</a></h4>
                                            </header>
                                            <div class="entry-content">
                                                <p>Pellentesque elementum libero enim,    ipsum,ultricies sed consequat sed, faucibus et tellus. Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis.</p> 
                                                <div class="entry-thumb">
                                                    <a href="#"><img src="http://placehold.it/274x188" alt=""></a>
                                                    <div class="thumb-hover">
                                                        <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <article class="entry-item">
                                            <header>
                                                <p class="entry-date">5 January, 2015</p>
                                                <h4 class="entry-title"><a href="#">Suge Knight Arrested For Murder</a></h4>
                                            </header>
                                            <div class="entry-content">
                                                <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. </p> 
                                                <div class="entry-thumb">
                                                    <a href="#"><img src="http://placehold.it/274x188" alt=""></a>
                                                    <div class="thumb-hover">
                                                        <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <article class="entry-item">
                                            <header>
                                                <p class="entry-date">5 January, 2015</p>
                                                <h4 class="entry-title"><a href="#">Sunrise Festival organized Croatia 2012</a></h4>
                                            </header>
                                            <div class="entry-content">
                                                <p>Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis. Mauris ut tristique odio. Aenean diam ipsum, ultricies sed consequat sed, faucibus et tellus. Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis.Mauris ut tristique odio. </p> 
                                                <div class="entry-thumb">
                                                    <a href="#"><img src="http://placehold.it/274x188" alt=""></a>
                                                    <div class="thumb-hover">
                                                        <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <article class="entry-item">
                                            <header>
                                                <p class="entry-date">5 January, 2015</p>
                                                <h4 class="entry-title"><a href="#">Exhume Your Idols: Sleater-Kinney and the Mythos of Women in Rock</a></h4>
                                            </header>
                                            <div class="entry-content">
                                                <p>Pellentesque elementum libero enim,    ipsum,ultricies sed consequat sed, faucibus et tellus. Pellentesque elementum libero enim, eget gravida nunc laoreet et. Nullam ac enim auctor, fringilla risus at, imperdiet turpis.</p> 
                                                <div class="entry-thumb">
                                                    <a href="#"><img src="http://placehold.it/274x188" alt=""></a>
                                                    <div class="thumb-hover">
                                                        <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                </div>
                                <!-- owl-carousel-2 -->
                            
                            </div>
                            <!-- row --> 

                        </div>
                        <!-- widget --> 
                
                    </div>
                    <!-- col-md-12 -->
                
                </div>
                <!-- row --> 
            
            </div>
            <!-- wrapper -->
            
        </section>
        <!-- kopa-area-4 -->

        <section class="kopa-area kopa-area-5 kopa-parallax kopa-area-dark">

            <div class="span-bg"></div>

            <div class="wrapper">

                <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="widget kopa-masonry-widget">
                            <header>
                                <h3 class="widget-title style1">gallery</h3>
                                <p>Fusce hendrerit, mi non lobortis pellentesque, nibh ante accumsan nisi, in tristique nibh nisi nec tortor. <br>Mauris nibh sem, vulputate non consequat in, condimentum eget nulla</p>
                            </header>
                            <ul class="kopa-masonry-wrap">
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="ms-item1">
                                    <div class="entry-item">
                                        <div class="entry-thumb">
                                            <a href="#"><img src="http://placehold.it/263x160" alt=""></a>
                                            <div class="thumb-hover">
                                                <a href="#" class="thumb-icon"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- widget --> 
                
                    </div>
                    <!-- col-md-12 -->
                
                </div>
                <!-- row --> 
            
            </div>
            <!-- wrapper -->
            
        </section>
        <!-- kopa-area-5 -->

        <section class="kopa-area kopa-area-6">

            <div class="wrapper">

                <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="widget kopa-countdown-widget">
                            <span class="kopa-span-rt"></span>
                            <div class="widget-wrap">
                                <h3 class="widget-title style1">CONCERTS</h3>
                                <div class="countdown-wrap">
                                    <ul class="kopa-countdown">
                                    </ul> 
                                </div>
                                <div class="cd-info">   
                                    <p class="pos-date">15 January, 2015</p> 
                                    <p class="pos-location">7200 Marmora Road, Glasgow, D04 89GR</p>
                                </div>
                                <ul class="btn-ca clearfix">
                                    <li><a href="#"><i class="fa fa-bolt"></i>buy tickets!</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i>See location</a></li>
                                </ul> 
                            </div>
                        </div>
                        <!-- widget --> 
                
                    </div>
                    <!-- col-md-12 -->
                
                </div>
                <!-- row --> 
            
            </div>
            <!-- wrapper -->
            
        </section>
        <!-- kopa-area-6 -->

        <section class="kopa-area kopa-area-7 kopa-parallax kopa-area-dark">

            <div class="span-bg"></div>

            <div class="kopa-area-nt">

                <div class="wrapper">

                    <div class="row">
                    
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="widget kopa-twitter-widget">
                                <div class="owl-carousel owl-carousel-3">
                                    <div class="item">
                                        <article class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/154x154" alt=""></a>
                                            </div>
                                            <div class="entry-content">
                                                <p class="post-content">We had a fantastic time at <span class="hash-tag">#EnvatoLive</span> in Chicago today! See the photos here: <br><a href="#">http://on.fb.me/1mZXa7D</a> ^ Josh</p>
                                                <p class="post-info">23 June 2014 <a href="#"> @Envato</a></p>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <article class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/154x154" alt=""></a>
                                            </div>
                                            <div class="entry-content">
                                                <p class="post-content">We had a fantastic time at <span class="hash-tag">#EnvatoLive</span> in Chicago today! See the photos here: <br><a href="#">http://on.fb.me/1mZXa7D</a> ^ Josh</p>
                                                <p class="post-info">23 June 2014 <a href="#"> @Envato</a></p>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                    <div class="item">
                                        <article class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="http://placehold.it/154x154" alt=""></a>
                                            </div>
                                            <div class="entry-content">
                                                <p class="post-content">We had a fantastic time at <span class="hash-tag">#EnvatoLive</span> in Chicago today! See the photos here: <br><a href="#">http://on.fb.me/1mZXa7D</a> ^ Josh</p>
                                                <p class="post-info">23 June 2014 <a href="#"> @Envato</a></p>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- item -->
                                </div>
                                <!-- owl-carousel-3 -->
                            </div>
                            <!-- widget --> 
                    
                        </div>
                        <!-- col-md-12 -->
                    
                    </div>
                    <!-- row --> 
                
                </div>
                <!-- wrapper -->

            </div>
            
        </section>
        <!-- kopa-area-7 -->

        <section class="kopa-area kopa-area-8">

            <div class="kopa-area-nt">

                <div class="wrapper">

                    <div class="row">
                    
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="widget kopa-contact-widget">
                                <div class="kopa-span-rt-1"></div>

                                <div class="widget-wrap">
                                    <h3 class="widget-title style1">CONTaCT US</h3>

                                    <div class="contact-box-1">

                                        <form class="contact-form-1 clearfix" action="processForm.php" method="post" novalidate="novalidate">
                                        <p class="input-block">
                                            <input type="text" value="Name" onfocus="if(this.value=='Name')this.value='';" onblur="if(this.value=='')this.value='Name';" id="contact_name-1" name="name" class="valid">
                                        </p>
                                        <p class="input-block">
                                            <input type="text" value="Email" onfocus="if(this.value=='Email')this.value='';" onblur="if(this.value=='')this.value='Email';" id="contact_email-1" name="email" class="valid">
                                        </p>
                                        <p class="input-block">
                                            <input type="text" value="Subject" onfocus="if(this.value=='Subject')this.value='';" onblur="if(this.value=='')this.value='Subject';" id="contact_subject-1" name="subject" class="valid">
                                        </p>
                                        <p class="textarea-block">
                                            <textarea name="message" id="contact_message" onfocus="if(this.value=='Your comment *')this.value='';" onblur="if(this.value=='')this.value='Your comment *';" cols="88" rows="2"></textarea>
                                        </p>

                                        <p class="contact-button clearfix">           
                                            <span><input type="submit" value="Post comment" id="submit-contact-1"></span>
                                        </p>
                                        </form>
                                        <div id="response"></div>

                                    </div>
                                    <!-- contact-box-1 -->
                                </div>

                            </div>
                            <!-- widget --> 
                    
                        </div>
                        <!-- col-md-12 -->
                    
                    </div>
                    <!-- row --> 
                
                </div>
                <!-- wrapper -->

            </div>
            
        </section>
        <!-- kopa-area-8 -->

        <!--FOOTER-->
        <%- include('partials/_footer') %> 
        <!-- kopa-footer -->

    </div>
    <!-- main-content -->

    
<!--SCRIPTS-->
<%- include('partials/_scripts') %> 

    
</body>

</html>
